@import "../../styles/colors";

.wrapper {
  display: flex;
  flex-direction: column;

  margin: 20px 0 30px 0;
}

.taglist {
  display: flex;
  flex-wrap: wrap;

  margin: 0px 0 30px 0;
  padding: 0;

  & li {
    background: linear-gradient(to bottom, #3a7bd5, #3a6073);
    color: $dark;

    border-radius: 5px;
    margin: 3px;
    padding: 3px 10px;

    list-style: none;
    font-size: 12px;

    & button {
      background: transparent;
      color: white;
      font-size: 8px;
      cursor: pointer;

      border: none;
      margin: 0 0 2px 5px;
    }
  }
}

.label {
  display: flex;
  flex-direction: column;

  margin-bottom: 15px;

  & input {
    margin-top: 5px;
    border-radius: 5px;
    height: 20px;
  }
}

.submitButton {
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #1d976c, #93f9b9);
  color: $dark;
  width: 300px;
  margin: 0 auto;
  height: 34px;
  font-size: 16px;
  cursor: pointer;

  &:active {
    border: 1px solid $tpmba;
  }
}
