@import "./colors";
@import "./fonts";

html {
  height: 100%;
  color: #d7dde8;
  font-family: $Roboto;
}

body {
  background: linear-gradient(to right, #232526, #414345);
  margin: 0;

  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

h1,
h2 {
  font-family: $Bungee;

  background: linear-gradient(to right, #1d976c, #93f9b9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input:focus {
  outline: 1px solid $tpmba;
}
