@import "../../styles/colors";

.wrapper {
  display: flex;
  align-items: baseline;

  margin: 0px auto 20px;

  & input {
    margin-top: 5px;
    border-radius: 5px;
    height: 20px;
    width: 100%;
  }

  & button {
    width: 110px;
    height: 24px;
    margin: 0 auto 0 20px;

    background: linear-gradient(to right, #1d976c, #93f9b9);
    color: $tpmba;
    border: none;
    border-radius: 5px;
    color: $dark;
    font-size: 13px;
    cursor: pointer;

    &:active {
      border: 1px solid $tpmba;
    }
  }
}
