@import "../../styles/colors";

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  margin-bottom: 20px;

  & label {
    cursor: pointer;
    
    & input {
      cursor: pointer;
    }
  }
}
